.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  background-color: var(--color-gray-light);

  :global {
    .icon {
      background-color: var(--color-black);
      width: 40px;
      height: 40px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.controls {
  display: flex;
  align-items: center;
}

.title {
  color: var(--color-black);
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}
