.btn {
  padding: 15px 30px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--color-tomato);
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;

    &:hover {
      background-color: var(--color-black);
    }
  }
}
