.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--color-black);
  mask-size: 100% 100%;
}

.icon-annotation {
  mask-image: url(./assets/icons/annotation.svg);
}

.icon-plus {
  mask-image: url(./assets/icons/plus.svg);
}

.icon-x-circle {
  mask-image: url(./assets/icons/x-circle.svg);
}

.icon-x {
  mask-image: url(./assets/icons/x.svg);
}

.icon-pencil {
  mask-image: url(./assets/icons/pencil.svg);
}

.icon-trash {
  mask-image: url(./assets/icons/trash.svg);
}
