:root {
  --color-white: #ffffff;
  --color-yellow: #f2d03b;
  --color-tomato: #e95b40;
  --color-blue: #2274a5;
  --color-green: #32936f;
  --color-black: #262e32;
  --color-gray-medium: #bcbcbc;
  --color-gray-light: #f7f7f7;
}
